@font-face {
    font-family: 'happy-times-bold';
    src: url("fonts/happy-times-NG_bold_master_web.woff") format('woff');
}
@font-face {
    font-family: 'happy-times-regular';
    src: url("fonts/happy-times-NG__regular_master_web.woff") format('woff');
}

h1 {
  font-family:'happy-times-bold', Times, serif ;
  font-size:30pt;
  color: #000000;
}

h2 {
  font-family:'happy-times-bold', Times, serif ;
  font-size:20pt;
  color: #000000;
}

h3 {
  font-family:'happy-times-bold', Times, serif ;
  font-size:13pt;
  color: #000000;
}
p {
  font-family:'happy-times-regular', Times, serif ;
  font-size:13pt;
  color: #000000;
}    

