@font-face {
    font-family: 'happy-times';
    src: url("fonts/happy-times-NG_bold_master_web.woff") format('woff');
}

h1 {
  font-family:'happy-times', Times, serif ;
  font-size:30pt;
  color: #000000;
}

h2 {
  font-family:'happy-times', Times, serif ;
  font-size:15pt;
  color: #000000;
}
